body {
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

form {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

a {
  text-decoration: none;
  color: #000;
}

.boton {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.boton:hover {
  background-color: #0000ff;
}
.volver-btn {
  background-color: white;
  color: darkblue;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}
